.About img{
    position: absolute;
    width: 21%;
    height: 20%;
    bottom: 36.481481%;
    left: 15.56%;
    z-index: -1;

}
.About{
    position: absolute;
    width: 98%;
    z-index: -1;
}
.About h1{
    z-index: 3;
    position: absolute;
    left: 35.45%;
    font-size: 4.5vw;
    font-weight: 400;
    color: #FF5571;
}
.About :nth-child(2){
    top: 35.46%;
}
.About :nth-child(3){
    top: 46.02%;
}
.About p{
    font-size: 1.45vw;
    position: absolute;
    top: 67.87%;
    left: 17.9166%;
}
.Education{
    position: absolute;
    height: 500px;
    background-color: #fff;
}
.Education>h1{
    position: absolute;
    top: 24.16%;
    left: 16.718%;
    font-size: 3.5vw;
    color: black;
    font-weight: 400;
}
.Education .About_BACK{
    position: absolute;
    width: 57.917%;
    height: 37.592%;
    background-color: black;
    left: 16.718%;
    top: 33.89%;
}
.Education .About_BACK .about_detail_1>h2{
    position: absolute;
    top: 27.09%;
    left: 7.91366%;
    font-size: 1.5625vw;
}
.Education .About_BACK .about_detail_1 :nth-child(3){
    position: absolute;
    left: 7.91366%;
    top: 37.931%;
    font-size: 1.041667vw;
    color: #FF5571;
}
.Education .About_BACK .about_detail_1 :nth-child(5){
    position: absolute;
    left: 7.91366%;
    top: 44.08867%;
    font-size: 1.041667vw;
    color: #FF5571;
}
.Education .About_BACK .about_detail_1 :nth-child(6){
    position: absolute;
    left: 7.91366%;
    top: 57.635468%;
    font-size: 0.83333vw;
    font-weight: 300;
}
#label_1{
    position: absolute;
    top: 70.9259%;
    left: 20.833%;
    width: 0.78125%;
    height: 3.4259%;
    border-left: solid 11px #FF5571;
    border-right: solid 11px #FF5571;
}
#label_2{
    position: absolute;
    top: 31.3889%;
    left: 68.958333%;
    width: 0.78125%;
    height: 3.4259%;
    border-left: solid 11px #FF5571;
    border-right: solid 11px #FF5571;
}

.about_detail_2>ul>li{
    z-index: 40;
    float: left;
    width: 80%;
    height: 3.5vw;
    font-weight: 300;
}

.about_detail_2>ul>li div{
    position: relative;
    width: 9px;
    height: 9px;
    background-color: #FF5571;
    border-radius: 50%;
    left: -1.8%;
    top: 1vw;
    font-size: 1.041667vw;
}

.about_detail_2>ul{
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 13.758621%;
    left: 9.8920%;
    height: 100%;
}

.about_detail_3 ul{
    z-index: 100;
    width: 100%;
    position: absolute;
    height: 100%;
}
.about_detail_3 ul>li{
    width: 80%;
    position: absolute;  
    font-size: 0.9375vw;
    font-weight: 300;
}
.about_detail_3 ul li span{
    color: #FF5571;
    font-size: 0.8333vw;
}

.about_detail_3 ul>li:nth-child(1)
{
    left: 12.5%;
    top: 12.0689%;
}
.about_detail_3 ul>li:nth-child(2)
{
    left: 12.5%;
    top: 28.325123%;
}
.about_detail_3 ul>li:nth-child(3)
{
    left: 12.5%;
    top: 44.334975%;
}
.about_detail_3 ul>li:nth-child(4)
{
    left: 12.5%;
    top: 62.807%;
}
.about_detail_3 ul>li:nth-child(5)
{
    left: 12.5%;
    top: 80.0%;
}
.About_Back_2{
    position: absolute;
    left: 65.20833%;
    top: 39.7222% !important;
    width: 16.45833%;
    height: 29.7222%;
    background-color:#FF5571;
}
.About_turn div{
    z-index: 90;
    position: absolute;
    width: 3.548438%;
    height: 0.55%;
    border-radius: 2px;
    background-color: #C2C2C2;
    top: 74.074074% !important;
    transition: all 0.1s;
}
.About_turn div:nth-child(1){
    left: 60.83333%;
}
.About_turn div:nth-child(2){
    left: 65.9375%;
}
.About_turn div:nth-child(3){
    left: 70.989583%;
}

.About #head{
    position: absolute;
    left: 16.71875%;
    bottom: 38.6111%;
    z-index: 2;
}
#detail_ul{
    display: none !important;
}
.img_turn{
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
}
#img_turn_ul{
    position: absolute;
    /* 315px */
    width: 83.3333%;
    height: 100% !important;
    /*间隔为19.7499%*/
    left: 10%;
}
.img_display{
    position: relative;
    width: 19.74999%;
    height:  29.72222% !important;
    left: 64.041667%;
    top: 38.148148%;
    overflow: hidden;
}

#img_turn_ul>li{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
#img_turn_ul>li:nth-child(2){
    /* 379.19px */
    left: 120%;
}
#img_turn_ul>li:nth-child(3){
    left: 240%;
}
#img_turn_ul>li:nth-child(4){
    left: 360%;
}

#img_turn_ul li img{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    
}
#img_turn_ul>li:nth-child(1){
    position: absolute;
}
#img_turn_ul>li:nth-child(2){
    position: absolute;
}

.img_back{
    position: absolute;
    z-index: -10;
    width: 16.458333%;
    height: 29.72222% !important;
    background-color:#FF5571;
    left: 65.20833%;
    top: 39.7222% !important;
}
